<div class="container">
  <h4 class="my-4 text-center">ゲームタイトルを入力して検索</h4>
    <div class="search-box col-sm-8 offset-md-2">
      <%= form_with url: games_search_path, method: :get, local: true do |f| %>
      <div class="form-group">
        <%= f.text_field :title, value: params[:title], class: "form-control" %>
        <%= f.submit '製品名を検索', class: "form-control btn btn-primary" %>
      </div>
      <% end %>
    </div>

    <div class="games-search-main bg-light">
      <div class="games-search-box">
        <table class='table table-hover table-inverse'>
          <% if @games.present? %>
            <% @games.first(20).each do |game| %>
            <tr>
              <td class="games-list">
                <td class="games-img">
                  <%= image_tag game.image_url %>
                </td>
                <td class="games-list-right">
                  <td class="games-name">
                    <%= link_to game.title, game_path(game) %>
                  </td>
                </td>
              </td>
            </tr>
            <% end %>
          <% end %>
        </table>
      </div>
    </div>
</div>