<div class="container">
  <div class="row">
    <div class='col-md-10 offset-md-1'>
    <h2>Game detail</h2>
      <table>
        <tr class="form-group mt-3">
          <td><%= image_tag @game.image_url %><%= @game.title %></td>
        </tr>
        <tr class="form-group row mt-3">
          <td><%= @game.item_caption %></td>
        </tr>
      </table>
      <%= form_with model: @new do |f| %>
      <h4>コメント入力</h4>
      <div class="form-group mt-3">
        <%= f.text_area :comment, class: 'form-control',size: "20x10" %>
      </div>
      <div class="form-group mt-3">
        <%= f.submit '内容を保存', class: 'btn btn-md btn-success' %>
      </div>
      <% end %>
    </div>
  </div>
</div>