<div class="container">
  <div class="row">
    <div class='col-md-10 offset-md-1'>
    <h2>Game detail</h2>
      <table>
        <tr class="form-group mt-3">
          <td><%= image_tag @game.image_url %><%= @game.title %></td>
        </tr>
        <tr class="form-group row mt-3">
          <td><%= @game.item_caption %></td>
        </tr>
      </table>
      <div class="mx-auto text-center">
        <div class="mt-3">
          <%= link_to "レビューする", new_review_path(:game_id => @game.id), class: 'btn btn-md btn-primary mr-3' %>
          <%= link_to "楽天ブックス", @game.url, class: 'btn btn-md btn-success mr-3' %>
        </div>
      </div>
    </div>
  </div>
</div>