<h2>Results</h2>

<table class="table table-hover table-inverse">
  <!--検索対象モデルがGameの時 -->
  <% if @range == "Game" %>
    <tbody>
      <% @games.each do |game| %>
      <tr>
        <td>
          <%= link_to review_path(review.game.id) do %>
            <%= image_tag game.image_url %>
          <% end %>
        </td>
        <td><%= link_to game.title, review_path(game.id) %></td>
      </tr>
      <% end %>
    </tbody>
  <% else %>
    <!--検索対象モデルがGameではない時(= 検索対象モデルがReviewの時) -->
    <tbody>
      <% @reviews.each do |review| %>
        <tr>
          <td>
          <%= link_to review_path(review.id) do %>
            <%= image_tag review.game.image_url %>
          <% end %>
          </td>
          <td><%= link_to review.game.title, review_path(review.id) %></td>
          <td><%= review.comment %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>
