<div class="container mt-5">
  <div class="col-md-12 mx-auto mt-5">

    <div class="row justify-content-center mb-3">
      <div class="col-md-8 headline">
        <h4><strong><%= @review.game.title%></strong>のレビュー詳細</h4>
      </div>
    </div>

    <div class="col-md-6 text-center mx-auto">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col" style="width: 30%"></th>
            <th scope="col" style="width: 70%"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>ID</td>
            <td><%= @review.id %></td>
          </tr>
          <tr>
            <td>タイトル</td>
            <td><%= @review.game.title %></td>
          </tr>
          <tr>
            <td>レビュー</td>
            <td><%= @review.comment %></td>
          </tr>
          <tr>
            <td>評価</td>
            <td id="rate_<%= @review.id %>"></td>
            <script>
              let elem = document.querySelector('#rate_<%= @review.id %>');
  
              let opt = {  
                starOn: "<%= asset_path('star-on.png') %>",
                starOff: "<%= asset_path('star-off.png') %>",
                starHalf: "<%= asset_path('star-half.png') %>",
                score: "<%= @review.rate %>",
                readOnly: true,
              };
              raty(elem, opt);
            </script>
          </tr>
          <tr>
            <td>ステータス</td>
            <td>
              <% if @review.is_deleted == true %>
              <strong style="color:darkgray;"><%= "削除" %></strong>
              <% else %>
              <strong style="color:green;"><%= "有効" %></strong>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <div class="col-md-2 row justify-content-between mx-auto mt-3">
    <td><%= link_to "編集する", edit_admin_review_path(@review.id), class: "btn btn-success change_button mt-3"%></td>
  </div>
  
</div>