<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
  　   <h2 class="col-md-6 headline mb-4">投稿内容編集</h2>
      <%= form_with model: @review, url:edit_review_path do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>

      <div class="form-group">
        <label>コメント</label>
        <%= f.text_area :comment, class:"form-control",size: "20x10" %>
      </div>
      <div class="form-group">
        <label>タグ(,で区切ると複数タグ登録できます)</label>
          <%= f.text_field :name,value: @tag_list, class: 'form-control' %>
      </div>
      <div class="form-group" id="rate">
        <%= f.label :評価 %>
        <%= f.hidden_field :rate, id: :review_rate, class: 'form-control' %>
        <div id="post_raty"></div>
      </div>
      <script>
          let elem = document.querySelector('#post_raty');

          let opt = {
            starOn: "<%= asset_path('star-on.png') %>",
            starOff: "<%= asset_path('star-off.png') %>",
            starHalf: "<%= asset_path('star-half.png') %>",
            scoreName: 'review[rate]',
          };
          raty(elem, opt);
      </script>

      <div class="d-flex justify-content-center">
        <%= f.submit '編集内容を保存', class: 'btn btn-md btn-success mb-3' %>
      <% end %>
      </div>
      <div class="d-flex justify-content-center">
        <%= link_to "戻る", :back, class: "btn btn-md btn-secondary mt-3" %>
      </div>
    </div>
  </div>
</div>