<div class="d-flex justify-content-center my-4">
<%= render 'layouts/search' %>
</div>

<div class="container px-5 px-sm-0">
  <div class="row">
    <%= render 'profile', user: @user %>

    <div class="col-md-8 bg-light offset-md-1">
      <h2 class="col-md-3 bg-dark text-white">Review</h2>
      <div class="mt-4">
        <%= link_to '新しい順', reviews_path(latest: "true"), class: "col-md-2 text-dark" %>
        <%= link_to '古い順', reviews_path(old: "true"), class: "col-md-2 text-dark" %>
        <%= link_to '評価の高い順', reviews_path(rate_count: "true"), class: "col-md-2 text-dark" %>
      </div>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th></th>
            <th class="col-md-3">タイトル</th>
            <th class="col-md-3">レビュー</th>
            <th class="col-md-2"></th>
            <th class="col-md-2">投稿日</th>
            <th colspan="5"></th>
          </tr>
        </thead>
        <tbody>
          <%= render "public/reviews/list", review: @review %>
        </tbody>
      </table>
      <%= paginate @reviews %>
    </div>
  </div>
</div>
