<div class="container">
  <div class="row">
    <div class='col-md-10 offset-md-1'>
    <h2 class="col-md-3 bg-dark text-white mt-3 mb-5">New review</h2>
      <div class="d-flex justify-content-center align-items-center mt-3 mb-5">
        <div class="col-md-2">
          <div><%= image_tag @game.image_url %></div>
        </div>
        <div class="col-md-5 h4">
          <div><%= @game.title %></div>
        </div>
      </div>
      <%= form_with model: @new do |f| %>
      <h3 class="col-md-3 bg-dark text-white mt-5">レビュー</h3>
      <div class="form-group mt-3">
        <%= f.text_area :comment, class: 'form-control',size: "20x10" %>
      </div>
      
      <div class="form-group" id="rate">
        <%= f.label :評価, class: 'col-md-3 bg-dark text-white' %>
        <%= f.hidden_field :rate, id: :review_rate, class: 'form-control' %>
        <div id="post_raty"></div>
      </div>
      <script>
          let elem = document.querySelector('#post_raty');

          let opt = {  
            starOn: "<%= asset_path('star-on.png') %>",
            starOff: "<%= asset_path('star-off.png') %>",
            starHalf: "<%= asset_path('star-half.png') %>",
            scoreName: 'review[rate]',
          };
          raty(elem, opt);
      </script>
      
      <div class="form-group mt-3">
        <%= f.hidden_field :game_id, :value => @new.game_id %>
        <%= f.submit '内容を保存', class: 'btn btn-md btn-success' %>
      </div>
      <% end %>
    </div>
  </div>
</div>