<div class="container px-5 px-sm-0">
  <div class="row">
    <h2 class="col-md-12 d-flex justify-content-center bg-dark text-white">タグが"<strong><%=@tag.name%></strong>"の投稿一覧</h2>
  
    <!--タグリスト-->
    <div class="col-md-12 text-center mt-3">
      <% @tag_list.each do |list|%>
        <i class="fa-sharp fa-solid fa-tag"></i>
        <%=link_to list.name,search_tag_path(review_tag_id: list.id), class: "text-dark" %>
        <%="(#{list.reviews.count})" %>
      <% end %>
    </div>

    <div class="col-md-12 bg-light mt-5">
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th></th>
            <th class="col-md-3">タイトル</th>
            <th class="col-md-3">レビュー</th>
            <th class="col-md-2"></th>
            <th class="col-md-2">投稿日</th>
            <th colspan="5"></th>
          </tr>
        </thead>
        <tbody>
          <% @reviews.each do |review| %>
          <tr>
            <td>
              <%= link_to review_path(review.id) do %>
              <%= image_tag review.game.image_url %>
              <% end %>
            </td>
            <td><%= link_to review.game.title, review_path(review.id), class: "text-dark" %></td>
            <td><%= review.comment %></td>
            <td id="favorite_<%= review.id %>" >
            <%= render "public/favorites/favorite", review: review %>
            </td>
            <td><%= review.created_at.strftime('%Y/%m/%d') %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>