<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <h2>Profile</h2>
      <p><%= image_tag @user.get_profile_image(100,100) %></p>
        <table class="table">
          <tbody>
            <tr>
              <th>ニックネーム</th>
              <th><%= @user.name %></th>
            </tr>
          </tbody>
        </table>
      <div class="row">
        <%= link_to users_information_edit_path(@user.id), class: "btn btn-outline-secondary btn-block" do %>
          <i class="fas fa-user-cog"></i>
        <% end %>
      </div>
    </div>

    <div class='col-md-8 offset-md-1'>
      <h2>Review detail</h2>
  	  <table class='table'>
  		  <tr>
          <td>
            <%= link_to user_path(@review.user.id) do %>
              <%= image_tag @review.user.get_profile_image(100, 100) %>
              <%= @review.user.name %>
            <% end %>
          </td>
          <td><%= link_to @review.game.item_name, review_path(@review.id) %></td>
          <td><%= @review.comment %></td>
          <td>
            <% if @review.user == current_user %>
              <%= link_to "Edit", edit_review_path(@review.id) %>
            <% end %>
          </td>
          <td>
            <% if @review.user == current_user %>
              <%= link_to "Destroy", review_path(@review.id), method: :delete, "data-confirm" => "本当に消しますか？" %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>