<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <h2>Profile</h2>
      <p><%= image_tag @user.get_profile_image(100,100) %></p>
        <table class="table">
          <tbody>
            <tr>
              <th>ニックネーム</th>
              <th><%= @user.name %></th>
            </tr>
          </tbody>
        </table>
      <div class="row">
        <%= link_to users_information_edit_path(@user.id), class: "btn btn-outline-secondary btn-block" do %>
          <i class="fas fa-user-cog"></i>
        <% end %>
      </div>
    </div>

    <div class='col-md-8 offset-md-1'>
      <h2>Review detail</h2>
  	  <table class='table'>
  		  <tr>
          <td><%= image_tag @review.game.image_url %><%= @review.game.title %></td>
        </tr>
        <tr>
          <td><%= @review.comment %></td>
        </tr>
        <tr id="rate_<%= @review.id %>"></tr>
          <script>
            let elem = document.querySelector('#rate_<%= @review.id %>');

            let opt = {  
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              score: "<%= @review.rate %>",
              readOnly: true,
            };
            raty(elem, opt);
          </script>
        <tr>
          <td>
            <% if @review.user == current_user %>
              <%= link_to "編集", edit_review_path(@review.id), class: "btn btn-md btn-success ms-3" %>
            <% end %>
          </td>
          <td>
            <% if @review.user == current_user %>
              <%= link_to "削除", review_path(@review.id), class: "btn btn-md btn-danger ms-3", method: :delete, "data-confirm" => "本当に削除しますか？" %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>